---
- name: Add local host into /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ ansible_default_ipv4.address }} {{ inventory_hostname }}"
    state: present

- name: Add VIP to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ control_plane_vip }} apiserver-vip"
    state: present

- name: Disable swap
  command: swapoff -a

- name: Remove swap from fstab
  replace:
    path: /etc/fstab
    regexp: '^(.*swap.*)$'
    replace: '# \1'

- name: Load required kernel modules
  modprobe:
    name: "{{ item }}"
  loop:
    - overlay
    - br_netfilter

- name: Sysctl settings
  copy:
    dest: /etc/sysctl.d/99-kubernetes.conf
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1

- name: Apply sysctl
  command: sysctl --system

- name: Install dependencies
  apt:
    name:
      - curl
      - apt-transport-https
      - ca-certificates
      - gnupg
    update_cache: yes

- name: Add Kubernetes apt key
  apt_key:
    url: https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key
    keyring: /etc/apt/keyrings/kubernetes.gpg

- name: Add Kubernetes apt repo
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes.gpg] https://pkgs.k8s.io/core:/stable:/v1.34/deb/ /"
    state: present

- name: Install containerd
  apt:
    name: containerd
    state: present
    update_cache: yes

- name: Create containerd directory
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Generate default containerd config
  command: containerd config default
  register: containerd_default_config
  changed_when: false

- name: Write default containerd config
  copy:
    dest: /etc/containerd/config.toml
    content: "{{ containerd_default_config.stdout }}"

- name: Ensure SystemdCgroup true
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = .*'
    line: '            SystemdCgroup = true'

- name: Restart containerd
  systemd:
    name: containerd
    state: restarted
    enabled: yes

- name: Install Kubernetes components
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
