---
- name: Join control plane node
  command: "{{ hostvars[ groups['masters'][0] ].control_plane_join_command }}"
  args:
    creates: /etc/kubernetes/admin.conf

- name: Ensure .kube directory exists for ubuntu user
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'

- name: Copy kubeconfig
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config
    remote_src: yes
    owner: ubuntu
    group: ubuntu