# ---
# - name: Wait for VIP
#   shell: "ip -4 addr show {{ vip_interface }} | grep {{ control_plane_vip }}"
#   register: vip
#   retries: 20
#   delay: 3
#   until: vip.rc == 0

# - name: Initialize cluster
#   command: >
#     kubeadm init
#     --control-plane-endpoint "{{ control_plane_endpoint }}"
#     --pod-network-cidr="{{ pod_network_cidr }}"
#     --upload-certs
#   register: init_output
#   args:
#     creates: /etc/kubernetes/admin.conf

# #    --control-plane-endpoint "192.168.100.169:8443"
# # Kubeconfig
# - name: Create .kube for ubuntu
#   file:
#     path: /home/ubuntu/.kube
#     state: directory
#     owner: ubuntu

# - name: Copy kubeconfig
#   copy:
#     src: /etc/kubernetes/admin.conf
#     dest: /home/ubuntu/.kube/config
#     owner: ubuntu
#     group: ubuntu
#     mode: 0644
#     remote_src: yes

# # # Extract join commands
# # - name: Extract control-plane join command
# #   set_fact:
# #     control_plane_join_command: "{{ init_output.stdout_lines | select('search', 'kubeadm join') | list | first }} --control-plane --certificate-key {{ init_output.stdout_lines | select('search','certificate-key') | list | first | regex_replace('.*: ', '') }}"

# # - name: Extract worker join command
# #   set_fact:
# #     worker_join_command: "{{ init_output.stdout_lines | select('search', 'kubeadm join') | list | last }}"
# # Extract control-plane join command (clean way)

# - name: Debug kubeadm init output
#   debug:
#     var: init_output.stdout_lines


# # Generate new token and base worker join command
# - name: Generate worker join command
#   shell: kubeadm token create --print-join-command
#   register: token_join
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf
#   run_once: true
#   delegate_to: "{{ groups['masters'][0] }}"

# - name: Save worker join command (GLOBAL)
#   set_fact:
#     worker_join_command: "{{ token_join.stdout | trim }}"
#   run_once: true
#   delegate_to: "{{ groups['masters'][0] }}"
#   delegate_facts: true

# # Re-upload certs to get certificate key
# - name: Re-upload certs
#   shell: kubeadm init phase upload-certs --upload-certs
#   register: upload_certs
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf
#   run_once: true
#   delegate_to: "{{ groups['masters'][0] }}"

# - name: Save certificate key (GLOBAL)
#   set_fact:
#     certificate_key: "{{ upload_certs.stdout_lines[-1] | trim }}"
#   run_once: true
#   delegate_to: "{{ groups['masters'][0] }}"
#   delegate_facts: true

# - name: Build control-plane join command (GLOBAL)
#   set_fact:
#     control_plane_join_command: >-
#       {{ token_join.stdout | trim }}
#       --control-plane --certificate-key {{ certificate_key }}
#   run_once: true
#   delegate_to: "{{ groups['masters'][0] }}"
#   delegate_facts: true

---
- name: Initialize cluster
  command: >
    kubeadm init
    --control-plane-endpoint "{{ control_plane_endpoint }}"
    --pod-network-cidr=192.168.0.0/16
    --upload-certs
  register: init_output
  args:
    creates: /etc/kubernetes/admin.conf

- name: Create .kube for ubuntu
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu

- name: Copy kubeconfig
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config
    owner: ubuntu
    group: ubuntu
    mode: 0644
    remote_src: yes

# - name: Generate worker join command
#   shell: kubeadm token create --print-join-command
#   register: token_join
#   environment:
#     KUBECONFIG: /etc/kubernetes/admin.conf
#   run_once: true
#   delegate_to: "{{ inventory_hostname }}"
- name: Generate worker join command
  shell: kubeadm token create --print-join-command
  register: token_join
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  run_once: true
  delegate_to: "{{ groups['masters'][0] }}"

- name: Re-upload certs
  shell: kubeadm init phase upload-certs --upload-certs
  register: upload_certs
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  run_once: true
  delegate_to: "{{ inventory_hostname }}"

- name: Save certificate key (GLOBAL)
  set_fact:
    certificate_key: "{{ upload_certs.stdout_lines[-1] | trim | regex_replace('\\[|\\]', '') }}"
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true

- name: Build control-plane join command (GLOBAL)
  set_fact:
    control_plane_join_command: >-
      {{ token_join.stdout | trim }}
      --control-plane --certificate-key {{ certificate_key }}
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true

- name: Build worker join command (GLOBAL)
  set_fact:
    worker_join_command: "{{ token_join.stdout | trim }}"
  run_once: true
  delegate_to: "{{ groups['masters'][0] }}"
  delegate_facts: true